@page
@model TicketWaveVan.Pages.Buy.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EventListing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventListing.EventListingID" />
            <div class="form-group">
                
                <label asp-for="EventListing.EventName" class="control-label"></label>
                <input asp-for="EventListing.EventName" class="form-control" />
                <span asp-validation-for="EventListing.EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="EventListing.EventDate" class="control-label"></label>
                <input asp-for="EventListing.EventDate" class="form-control" />
                <span asp-validation-for="EventListing.EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="EventListing.EventLocation" class="control-label"></label>
                <input asp-for="EventListing.EventLocation" class="form-control" />
                <span asp-validation-for="EventListing.EventLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="EventListing.TicketPrice" class="control-label"></label>
                <input asp-for="EventListing.TicketPrice" class="form-control" />
                <span asp-validation-for="EventListing.TicketPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="EventListing.TicketQuant" class="control-label"></label>
                <input asp-for="EventListing.TicketQuant" class="form-control" />
                <span asp-validation-for="EventListing.TicketQuant" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="EventListing.SellerEmail" class="control-label"></label>
                <input asp-for="EventListing.SellerEmail" class="form-control" />
                <span asp-validation-for="EventListing.SellerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="EventListing.EventDecription" class="control-label"></label>
                <input asp-for="EventListing.EventDecription" class="form-control" />
                <span asp-validation-for="EventListing.EventDecription" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="EventListing.SellerID" class="control-label"></label>
                <input asp-for="EventListing.SellerID" class="form-control" />
                <span asp-validation-for="EventListing.SellerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="EventListing.BuyerID" class="control-label"></label>
                <input asp-for="EventListing.BuyerID" class="form-control" />
                <span asp-validation-for="EventListing.BuyerID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EventListing.OfferAccepted" /> @Html.DisplayNameFor(model => model.EventListing.OfferAccepted)
                </label>
            </div>
            <div class="form-group">
                
                <label asp-for="EventListing.FileUploads" class="control-label"></label>
                <input asp-for="EventListing.FileUploads" class="form-control" />
                <span asp-validation-for="EventListing.FileUploads" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
